button {
    background-color: green;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

.count{
   font-size: 60px;
   padding: 30px 30px;
}

.resetButton{
    background-color: red;
    color: white;
}

body{
    padding: 30px 30px;
}